<footer role="contentinfo" style="background:#140f0f;height:135px;">
        <div class="container" style="text-align:center;padding-top: 30px;color: blanchedalmond;">
                <p >
                   This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License
                </p>
               <a href='https://creativecommons.org/licenses/by-sa/4.0/'/><img src="{{ directory }}/image/background-2633962__340.jpg" ></a>
        </div>
 </footer>